#theHead{
  text-align: center;
}

#theBody{
  text-align: center;
  font-size: 30px;
  font-family: 'Baloo Tammudu', cursive;
}

#display{
  text-align: center;
  
}

#display1{
  text-align: center;
}

.numButLeft{
  display: inline-block;

}

.numBut{
  display: inline-block;
  text-align: center;
}

.numButRight{
  display: inline-block;
  text-align: center;
}

#add{
  display: inline-block;
  text-align: center;
}

#subtract{
  display: inline-block;
  text-align: center;
}

#multiply{
  display: inline-block;
  text-align: center;
}

#divide{
  display: inline-block;
  text-align: center;

}

#equals{
  display: inline-block;
}

#clear{
  display: inline-block;

}

#balance{
  display: inline-block;

}

#deposit{
  display: inline-block;

}

#withdraw{
  display: inline-block;

}