#theHead{
  text-align: center;
}

#theBody{
  text-align: center;
  font-size: 30px;
  font-family: 'Baloo Tammudu', cursive;
  color: white;
  background-color: black;
}

#disp{
  text-align: center;
  background-color: #0099ff;
  margin-right: 400px;
  margin-left: 400px;
  border-radius: 25px;
}

/*#display{
  text-align: center;
  background-color: turquoise;
  
}

#display1{
  text-align: center;
  background-color: turquoise;
}*/

.numButLeft{
  display: inline-block;
  margin-right: 40px;
  margin-left: -192px;

}

.numBut{
  display: inline-block;
  text-align: center;
  margin-right: 40px;
}

.numButRight{
  display: inline-block;
  text-align: center;
  margin-right: 40px;
}

#add{
  display: inline-block;
  text-align: center;
  color: green;
  margin-right: 40px;
}

#subtract{
  display: inline-block;
  text-align: center;
  color: red;
  margin-right: 40px;
}

#multiply{
  display: inline-block;
  text-align: center;
  margin-right: 40px;
}

#divide{
  display: inline-block;
  text-align: center;
  margin-right: 40px;

}

#equals{
  display: inline-block;
  margin-left: 3px;
}

#clear{
  display: inline-block;
  /*background-color: white;*/
  margin-right: -125px;

}

#balance{
  display: inline-block;
  margin-right: -207px;
  margin-left: -5px;
}

#deposit{
  display: inline-block;
  margin-right: -158px;
}

#withdraw{
  display: inline-block;
  margin-right: -172px;

}